{% block 'base.html' %}
{% user_display confirmation.email_address.user as user_display %}


{% endblock %}

{% block title %}
    
{% endblock %}

{% block content %}
<div class="container">
    <h1>Confirm Email Address </h1>

        {% if conformation %}
        
      
            
        {% endif %}
        {% if can_confirm %}
        <p>Please confirm that <a href="mailto:{{ conformation.email_address.email }}">{{ conformation.email }}</a> is an email address for user {{ user_display }}.</p>
        <form action="{%url 'account_confirm_email' confirmation.key %}" method="post">
                 {% csrf_token %}
                <input type="submit" value="Confirm" class="btn btn-success d-block mx-auto">
                </form>
            
        
            
            
                        
              
        {% else %}
        <p>Unable to confirm {{ conformation.email_address.email}} because it is already confirmed by a different account.</p>
            
        {% endif %}
    {% else %}
    <p>This email confirmation link expired or is invalid. Please <a href="{% url 'account_email'%}">issue a new email confirmation request</a>. </p>
        
    {% endif %}

    

</div>
{% endblock %}