{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    
{% endblock %}

{% block content %}
    <div class="container">

        <h1>Sign Up </h1>
        <p>If Already Have An Account Please Sign In <a href="{% 'account_login' %}">Sign in</a></p>
        <form action="{%url 'account_email_verification_sent' %}" method="post">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" value="Sign Up" class="btn btn-success d-block mx-auto">  


        </form>
    </div>
{% endblock %}